*{
    padding: 0%;
    margin: 0%;
}
nav{
    width: auto;
    height: 40px;
    background-color: crimson;
    padding: 2%;
    width: 100%;
    font-size: large;
    position: sticky;
    top: 0;
    z-index: 1;
}
li{
    color:yellow;
    font-weight: 300;
    list-style: none;
    float: right;
    width: 10%;
    height: 100%;
    font-size: 20px;

}
.logo{
    float: left;
}
body{
    background-image: url(/images\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

form{
    background-color: lightcoral;
    width: 500px;
    height: 360px;
    border-radius: 1pc;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    padding: 1%;
    opacity: 0.6;
}